input {
  display: flex;
  min-width: 200px;
  margin-bottom: 30px;
  border: none;
}

textarea {
  display: flex;
  min-width: 200px;
  min-height: 100px;
  margin-bottom: 30px;
  border: none;
  border-top: 2px solid;
}

form {
  height: 250px;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
}
