.card {
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
}

.card.selected {
    border: 1px solid green;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}